# HW 3

## Q1 

(a) Find out how to sample `t` elements from a pandas dataframe of `k ≥ t` elements without
replacement (i.e., a name cannot appear twice on the resulting list). Give an example.
Hint: You can use `random.sample` or `numpy.random.choice`. You can also write a
function for this yourself from scratch.

(b) Create an arbitrary list of 18 different names of cars. (It can be as simple as “A”, “B”, . .
. , “R”, but you are invited to be more creative. It could, for instance, start from “Fiat
500” and “Ferrari Testarossa”.) Then create two data frames, with 10 rows each, as
follows.
• The first one—say, `df1`—should have two labeled columns: `Name` and `MPG` (i.e.,
miles per gallon). The names should be selected at random from the list of names
without replacement. The values in the other column should be independent
random real numbers from 5 to 50.
• The second one—say, `df2`—should have two labeled columns: `Name` and
`SecondsTo60` (i.e., time needed to reach 60 mph). Names should be selected in
the same way as in `df1`, but independently of the selection in `df1`. The values in
the other column should be independent random real numbers from 1 to 20.

(c) Combine `df1` and `df2` to create a new data frame, `df`, with three columns: `Name`, `MPG`,
and `SecondsTo60`. The resulting data frame should have at most one row for each car.
A car should appear in `df` if and only if it appears in at least one of `df1` and `df2`. If the
value of `MPG` or `SecondsTo60` for a given car appears in `df1` or `df2`, respectively, then
it should be included in the new data frame. Otherwise, use `NaN`.

(d) Fix all occurrences of `NaN` in `df`. First, replace all `NaN`s in the `MPG` column with the
mean of values in this column for all cars. Second, replace all `NaN`s in the
`SecondsTo60` column by the maximum of values in this column for all cars.

(e) Add “Awesome ” as a prefix to the name of each car in `df`.

(f) Create a new data frame, `df_eco`, from `df` by selecting rows for which `MPG` is strictly
greater than the median of values for all cars.

### (a)

In [29]:
import numpy as np
import pandas as pd
import random

In [30]:
data = pd.Series(np.random.randn(1000))

print(data)

0      0.232443
1     -1.436376
2     -0.173053
3     -2.416748
4     -0.160202
         ...
995    0.304406
996    0.383616
997   -2.387512
998   -0.920363
999    0.650125
Length: 1000, dtype: float64

In [31]:
print(data.head(10))

0    0.232443
1   -1.436376
2   -0.173053
3   -2.416748
4   -0.160202
5   -0.516237
6    0.200209
7    1.095155
8    0.051996
9   -1.083633
dtype: float64

### b)

In [32]:
cars = ('Toyota Camry', 'Honda Civic', 'Ford Mustang', 'Chevrolet Corvette','BMW 3 Series',
         'Mercedes-Benz E-Class', 'Audi A4', 'Volkswagen Golf','Tesla Model S', 'Hyundai Sonata', 
          'Kia Soul', 'Subaru Outback','Nissan Altima', 'Jeep Wrangler', 'Lexus RX', 'Mazda CX-5',
           'Volvo XC90', 'Porsche 911')
mpg = range(5,51)

df1 = pd.DataFrame(
  {
                'Name': random.sample(cars,10),
                'MPG': random.sample(mpg, 10)
        
    })
print(df1)

                    Name  MPG
0            Honda Civic   27
1               Lexus RX   45
2     Chevrolet Corvette    5
3          Jeep Wrangler   15
4          Tesla Model S   12
5             Volvo XC90   19
6  Mercedes-Benz E-Class    6
7           Toyota Camry   49
8          Nissan Altima   36
9           Ford Mustang   48

In [33]:
stg = range(1,21) #selecting 10 random values from this range 
df2 = pd.DataFrame(
    {
                   'Name': random.sample(cars,10),
                   'SecondsTo60': random.sample(stg, 10)
           })
print(df2)

                    Name  SecondsTo60
0            Porsche 911           19
1          Tesla Model S            7
2           BMW 3 Series           17
3         Hyundai Sonata           11
4             Mazda CX-5           13
5        Volkswagen Golf           18
6                Audi A4            9
7          Jeep Wrangler            4
8             Volvo XC90            5
9  Mercedes-Benz E-Class            2

### c)

In [34]:
df = pd.merge(df1, df2, how = 'outer', on = 'Name') #to merge the coloumns based on name of the car 
print(df)

                     Name   MPG  SecondsTo60
0             Honda Civic  27.0          NaN
1                Lexus RX  45.0          NaN
2      Chevrolet Corvette   5.0          NaN
3           Jeep Wrangler  15.0          4.0
4           Tesla Model S  12.0          7.0
5              Volvo XC90  19.0          5.0
6   Mercedes-Benz E-Class   6.0          2.0
7            Toyota Camry  49.0          NaN
8           Nissan Altima  36.0          NaN
9            Ford Mustang  48.0          NaN
10            Porsche 911   NaN         19.0
11           BMW 3 Series   NaN         17.0
12         Hyundai Sonata   NaN         11.0
13             Mazda CX-5   NaN         13.0
14        Volkswagen Golf   NaN         18.0
15                Audi A4   NaN          9.0

### d)

In [35]:
# finding the required valiues and then swapping thme with NaN using fillna function 

mean_MPG = np.mean(df["MPG"])
print(f"Mean of MPG is {mean_MPG}")

max_sec = np.max(df["SecondsTo60"])
print(f"Max Value of SecondsToGo is {max_sec}")

df["MPG"] = df["MPG"].fillna(value = mean_MPG)
df["SecondsTo60"] = df["SecondsTo60"].fillna(value = max_sec)
print(df)

Mean of MPG is 26.2
Max Value of SecondsToGo is 19.0
                     Name   MPG  SecondsTo60
0             Honda Civic  27.0         19.0
1                Lexus RX  45.0         19.0
2      Chevrolet Corvette   5.0         19.0
3           Jeep Wrangler  15.0          4.0
4           Tesla Model S  12.0          7.0
5              Volvo XC90  19.0          5.0
6   Mercedes-Benz E-Class   6.0          2.0
7            Toyota Camry  49.0         19.0
8           Nissan Altima  36.0         19.0
9            Ford Mustang  48.0         19.0
10            Porsche 911  26.2         19.0
11           BMW 3 Series  26.2         17.0
12         Hyundai Sonata  26.2         11.0
13             Mazda CX-5  26.2         13.0
14        Volkswagen Golf  26.2         18.0
15                Audi A4  26.2          9.0

### f)

In [36]:
#check this 
df["Name"] = df["Name"].apply(lambda x: 'Awesome' +' '+ x)
print(df)

                             Name   MPG  SecondsTo60
0             Awesome Honda Civic  27.0         19.0
1                Awesome Lexus RX  45.0         19.0
2      Awesome Chevrolet Corvette   5.0         19.0
3           Awesome Jeep Wrangler  15.0          4.0
4           Awesome Tesla Model S  12.0          7.0
5              Awesome Volvo XC90  19.0          5.0
6   Awesome Mercedes-Benz E-Class   6.0          2.0
7            Awesome Toyota Camry  49.0         19.0
8           Awesome Nissan Altima  36.0         19.0
9            Awesome Ford Mustang  48.0         19.0
10            Awesome Porsche 911  26.2         19.0
11           Awesome BMW 3 Series  26.2         17.0
12         Awesome Hyundai Sonata  26.2         11.0
13             Awesome Mazda CX-5  26.2         13.0
14        Awesome Volkswagen Golf  26.2         18.0
15                Awesome Audi A4  26.2          9.0

### e)

In [37]:
df_eco = df[df["MPG"] >= np.median(df["MPG"])]
print(df_eco)

                       Name   MPG  SecondsTo60
0       Awesome Honda Civic  27.0         19.0
1          Awesome Lexus RX  45.0         19.0
7      Awesome Toyota Camry  49.0         19.0
8     Awesome Nissan Altima  36.0         19.0
9      Awesome Ford Mustang  48.0         19.0
10      Awesome Porsche 911  26.2         19.0
11     Awesome BMW 3 Series  26.2         17.0
12   Awesome Hyundai Sonata  26.2         11.0
13       Awesome Mazda CX-5  26.2         13.0
14  Awesome Volkswagen Golf  26.2         18.0
15          Awesome Audi A4  26.2          9.0

## Q2

In this question you will work with the same data set as in Homework 1. We
want to explore how useful k–means clustering could be for predicting the same values or
labels as last time.

(a) Select a subset of attributes that you think may be relevant to the value being
predicted (similarly to the last homework). It suffices to consider one subset of
attributes. You don’t have to try subsets of different sizes (but if you want you can).

(b) Split your data into the training and test set in the same way as in homework 1.

(c) As opposed to decision trees, it is now important to decide how much weight is
assigned to each attribute. For instance, you can rescale each of them so that the
variance of each attribute in the training set is similar. Whatever you do, make sure
that no single attribute dominates all other attributes and is the sole basis for
clustering. You might find the MinMaxScaler or Whiten functions helpful.

(d) Compute a k–means clustering of points in the training set for different values of k.
(For instance, k = 1 . . . 20. Select a range that makes sense for your data set.)

(e) For each considered k, explore how helpful the clustering you get is for the
classification or regression question you considered last time. To be more precise you
will still try to predict the students grade by using the way students are clusters. You
will have to write separate code to compute what grade should be associated with
each cluster. For each cluster you should decide that the grade associated with it will
be:
• the mean of values for students in the training set assigned to this cluster, if you
are doing regression,
• the most popular label for points in the training set assigned to this cluster, if you
are doing classification.
Once you have determined the grade associated with each cluster, you should check
each point in the test set, see to which cluster it gets assigned and make the prediction
for this point to be the grade associated with that cluster. You should then use the same
accuracy measure you used last time to see how accurate your resulting predictions are.
Plot a graph that displays the relationship between accuracy and k, the number of
clusters.

(f) How does the accuracy of predictions you obtain this time compare to the accuracy of
decision tree based predictions last time?

(g) Did you gain any new insights into the data set? Did the results surprise you in any
way? Any other interesting thoughts?

### a)

In [38]:
import pandas as pd
ingredients = pd.read_csv('ingredients.csv')
ingredients
ingredients_values= (ingredients.iloc[0]['Yeast'],ingredients.iloc[0]['Flour'],ingredients.iloc[0]['Sugar'])

### b)

In [39]:
pastries = pd.read_csv('pastries.csv')
pastries 
pastries_values = [pastries['Yeast'].tolist(),pastries['Flour'].tolist(),pastries['Sugar'].tolist()]

### c)

In [40]:
from scipy.optimize import linprog

cost_pastry = -pastries['Price'].ravel()
bounds = [(0,None) for i in range(3)]
result_total = linprog(cost_pastry,A_ub = pastries_values,b_ub = ingredients_values,bounds = bounds)
result_total

print('The max profit is', -result_total.fun, 'and this is achieved by producing:')
print('Apple pie:', result_total.x[0])
print ('Croissant:', result_total.x[1])
print('Poppy Seed Roll:', result_total.x[2])

The max profit is 449.0 and this is achieved by producing:
Apple pie: 50.00000000000001
Croissant: 0.0
Poppy Seed Roll: 50.0

### The approach I utilized to boost the company's sales leverages the scipy linprog package, which was introduced to us in lectures. The A_ub constraint represents the necessary quantity of each ingredient for different pastries, while B_ub defines the available quantity of each ingredient. The objective is to minimize the objective function, c. However, to align with our goal of maximizing sales, I modified c to represent negative values corresponding to pastry prices. By inputting these three parameters into the linprog package, it effectively optimized profits within the specified constraints.